# Virtual Environment (in test folder)
test/venv/
test/env/
test/Scripts/
test/Lib/
test/Include/
test/pyvenv.cfg

# Python Cache
**/__pycache__/
**/*.pyc

# Application Data
test/uploads/
test/instance/

# IDEs
.vscode/
.idea/
